@import url("../Bootstrap/css/bootstrap.min.css");

.jumbotron {
    background-color: black;
    margin-bottom: 0;
    padding: .7rem 1rem;
}

#title {
    color: deeppink;
}

main > .container-fluid {
    padding: 2rem 0 0;
}

.manga {
    position: relative;
    margin: auto;
    width: 80%;
}

#manga-img {
    width: 100%;
}

.prev, .next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.page-control {
    display: flex;
    justify-content: center;
    padding: 2rem 0 1rem;
}

#page-indicator {
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    margin: 0 1rem;
    text-align: center;
    width: 4rem;
}